<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'core/js/inicializacion.js' %}"></script>

    
</head>
<body background="{% static 'core/img/fondomedico.jpg' %}">

 <form method="POST" action="">
 {% csrf_token %}
 <h2>LOGIN</h2>

 {% comment %} <input type="text" placeholder="USUARIO" name="usuario"> {% endcomment %}
            <div class="box">
            	<div class="inputBox">
				<input type="text" name="username" required="">
				<label for=""><i class="fa fa-user"></i> Username</label>
			    </div>
            	<div class="inputBox">
                 <input type="password" name="password" required="">
                 <label for=""><i class="fa fa-lock"></i> Password</label>
			    </div>

            </div>

 <input type="submit" value="INGRESAR">
 
 </form>

</body>
</html>